%u-text-light,
.u-text-light
{
    font-weight: 200;
}

%u-text-regular,
.u-text-regular
{
    font-weight: 400;
}

%u-text-bold,
.u-text-bold
{
    font-weight: 600;
}

%u-title-typeface
{
    font-family: "Open Sans", Georgia, serif;
}

%u-caps,
.u-caps
{
    text-transform: uppercase;
}

%u-text-medium
{
    font-weight: 500;
}

%u-full-height
{
    height: 100%;
}

.u-section-title
{
    @extend %u-title-typeface;
    @extend %u-caps;
}

.u-no-border
{
    border-width: 0;
}

%u-no-margin,
.u-no-margin
{
    margin: 0 !important;
}

%u-mt-xs,
.u-mt-xs
{
    margin-top: 5px !important;
}

%u-mb-xs,
.u-mb-xs
{
    margin-bottom: 5px !important;
}

%u-mb-sm,
.u-mb-sm
{
    margin-bottom: 15px;
}

%u-mb-md,
.u-mb-md
{
    margin-bottom: 30px;
}

%u-mb-lg,
.u-mb-lg
{
    margin-bottom: 60px;
}

%u-ml-xs,
.u-ml-xs
{
    margin-left: 5px;
}

%u-ml-sm,
.u-ml-sm
{
    margin-left: 15px;
}

%u-ml-md,
.u-ml-md
{
    margin-left: 30px;
}

%u-mr-xs,
.u-mr-xs
{
    margin-right: 5px;
}

%u-mr-sm,
.u-mr-sm
{
    margin-right: 15px;
}

%u-mr-md,
.u-mr-md
{
    margin-right: 30px;
}

%pull-left {
    float: left;
}
